@model SeniorProjectPreReq.Models.UserRoles.ExpandedUserDTO
@{
    ViewBag.Title = "Synchro Principal Portal";
}

<br />

<div class="jumbotron">
    <h1>Welcome Principal @Model.LastName!</h1>
</div>

<div class="row">
    <div class="text-center">
        <h2>Getting started:</h2>
        <br />
        <br />
        @Html.ActionLink("View " + Model.school.SchoolName + "'s Profile", "AllDetails", "SchoolPdatas", new { id = Model.schoolID }, new { @class = "btn btn-primary btn-large", @style = "background-color: #33C2DA" })
        @Html.ActionLink("Edit " + Model.school.SchoolName + "'s Profile", "Edit", "Schools", new { id = Model.schoolID }, new { @class = "btn btn-primary btn-large", @style = "background-color: #33C2DA"})
    </div>
</div>

<br />
<br />
<br />
<br />
<br />
<br />
<br />
