@{
    ViewBag.Title = "Syncro Volunteer Portal";
}

<div class="jumbotron">
    <h1>Welcome Volunteers</h1>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <button type="button" class="btn btn-primary">Schedule</button>
        <button type="button" class="btn btn-primary">Sign up </button>
        <button type="button" class="btn btn-primary">Request off</button>
        
    </div>
</div>
