@{
    ViewBag.Title = "About US";
}
<h2>@ViewBag.Title.</h2>
<br />
<h3>@ViewBag.Message</h3>

<div>
    <h4>The Jacksonville Public Education Fund is an independent nonprofit organization that works to connect research with civic voice to bring about unified action in support of universally high-quality public schools for all children in Duval County. We believe that an informed and active citizenry, together with attentive and aligned community leadership, will move our schools forward to prepare students with the skills they need for future success.</h4>
</div>
