@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    40 East Adams St., Suite 110<br />
    Jacksonville, FL 32202<br />
    main: (904) 356-7757 | fax: (904) 394-2005
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:info@jaxpef.org"> info@jaxpef.org</a><br />
</address>