@model IEnumerable<SeniorProjectPreReq.Models.School>
@{
    ViewBag.Title = "JPEF School Portal";
}

<div class="jumbotron">
    <div class="row">
        <div class="col-md-4">
            <a class="btn btn-primary" href="">Elementary Schools</a>
        </div>
        <div class="col-md-4">
            <a class="btn btn-primary" href="">Middle Schools</a>
        </div>
        <div class="col-md-4">
            <a class="btn btn-primary" href="">High Schools</a>
        </div>
    </div>
</div>

<div class="row" style="height: 500px;">
    <div class="col-md-4">
        <div class="panel panel-default">
            <div class="panel-body" style="height: 400px">
                <h1>School Data</h1>
                <p>
                    This is where all the school data will show up
                </p>
            </div>
        </div>
    </div>
    <div class="col-md-8">

        <div class="container fluid">
            <div class="input-group">
                <span class="input-group-btn">
                    <button class="btn btn-default" type="button">Go!</button>
                </span>
                <input type="text" class="form-control" placeholder="Search for...">
                
            </div><!-- /input-group -->
            <div style="height: 380px; overflow-y: scroll;">
               @using (Html.BeginForm())
                 {
                        <ul class="list-group">
                          @foreach (var item in Model)
                          {
                              <li class="list-group-item">@Html.DisplayFor(ModelItem => item.SchoolName)<input style="float: right;" type="checkbox" name="compare" value="@item.ID"></li>
                          }
                        </ul>
                        <input type="submit" value="Compare" class = "btn btn-primary btn-large"/>
                 }
            </div>
        </div>
    </div>

</div>