@model IEnumerable<SeniorProjectPreReq.Models.School>
@{
    ViewBag.Title = "JPEF School Portal";
}

<div class="jumbotron">
    <div class="row">
        <div class="col-md-4">
            <a class="btn btn-primary" href="">Elementary Schools</a>
        </div>
        <div class="col-md-4">
            <a class="btn btn-primary" href="">Middle Schools</a>
        </div>
        <div class="col-md-4">
            <a class="btn btn-primary" href="">High Schools</a>
        </div>
    </div>
</div>

<div class="row" style="height: 500px;">
    <div class="col-md-4">
        <div class="panel panel-default">
            <div class="panel-body" style="height: 400px">
                <h1>School Data</h1>
                <p>
                    This is where all the school data will show up
                </p>
            </div>
        </div>
    </div>
    <div class="col-md-8">

        <div class="container fluid">
            <div class="input-group">
                <span class="input-group-btn">
                    <button class="btn btn-default" type="button">Go!</button>
                </span>
                <input type="text" class="form-control" placeholder="Search for...">
                <span>
                    @Html.ActionLink("Compare Schools", "Compare", "Home", 
                            new { id0 = 0 }, new { @class = "btn btn-primary btn-large" })
                </span>
            </div><!-- /input-group -->
            <div style="height: 380px; overflow-y: scroll;">
                <ul class="list-group">
                    @foreach (var item in Model)
                    {
                        <li class="list-group-item">@Html.DisplayFor(ModelItem => item.SchoolName)<input style="float: right;" type="checkbox" name="compare" value="@item.ID"></li>
                    }

                    @*<li class="list-group-item">Dapibus ac facilisis in <input style="float: right;" type="checkbox" name="compare" value="Bike"></li>
                    <li class="list-group-item">Morbi leo risus<input style="float: right;" type="checkbox" name="compare" value="Bike"></li>
                    <li class="list-group-item">Porta ac consectetur ac<input style="float: right;" type="checkbox" name="compare" value="Bike"></li>
                    <li class="list-group-item">Vestibulum at eros<input style="float: right;" type="checkbox" name="compare" value="Bike"></li>
                    <li class="list-group-item">Cras justo odio<input style="float: right;" type="checkbox" name="compare" value="Bike"></li>
                    <li class="list-group-item">Dapibus ac facilisis in<input style="float: right;" type="checkbox" name="compare" value="Bike"></li>
                    <li class="list-group-item">Morbi leo risus<input style="float: right;" type="checkbox" name="compare" value="Bike"></li>
                    <li class="list-group-item">Porta ac consectetur ac<input style="float: right;" type="checkbox" name="compare" value="Bike"></li>
                    <li class="list-group-item">Vestibulum at eros<input style="float: right;" type="checkbox" name="compare" value="Bike"></li>
                    <li class="list-group-item">Cras justo odio<input style="float: right;" type="checkbox" name="compare" value="Bike"></li>
                    <li class="list-group-item">Dapibus ac facilisis in<input style="float: right;" type="checkbox" name="compare" value="Bike"></li>
                    <li class="list-group-item">Morbi leo risus<input style="float: right;" type="checkbox" name="compare" value="Bike"></li>
                    <li class="list-group-item">Porta ac consectetur ac<input style="float: right;" type="checkbox" name="compare" value="Bike"></li>
                    <li class="list-group-item">Vestibulum at eros<input style="float: right;" type="checkbox" name="compare" value="Bike"></li>
                    <li class="list-group-item">Cras justo odio<input style="float: right;" type="checkbox" name="compare" value="Bike"></li>
                    <li class="list-group-item">Dapibus ac facilisis in<input style="float: right;" type="checkbox" name="compare" value="Bike"></li>
                    <li class="list-group-item">Morbi leo risus<input style="float: right;" type="checkbox" name="compare" value="Bike"></li>
                    <li class="list-group-item">Porta ac consectetur ac<input style="float: right;" type="checkbox" name="compare" value="Bike"></li>
                    <li class="list-group-item">Vestibulum at eros<input style="float: right;" type="checkbox" name="compare" value="Bike"></li>
                    <li class="list-group-item">Cras justo odio<input style="float: right;" type="checkbox" name="compare" value="Bike"></li>
                    <li class="list-group-item">Dapibus ac facilisis in<input style="float: right;" type="checkbox" name="compare" value="Bike"></li>
                    <li class="list-group-item">Morbi leo risus<input style="float: right;" type="checkbox" name="compare" value="Bike"></li>
                    <li class="list-group-item">Porta ac consectetur ac<input style="float: right;" type="checkbox" name="compare" value="Bike"></li>
                    <li class="list-group-item">Vestibulum at eros<input style="float: right;" type="checkbox" name="compare" value="Bike"></li>
                    <li class="list-group-item">Cras justo odio<input style="float: right;" type="checkbox" name="compare" value="Bike"></li>
                    <li class="list-group-item">Dapibus ac facilisis in<input style="float: right;" type="checkbox" name="compare" value="Bike"></li>
                    <li class="list-group-item">Morbi leo risus<input style="float: right;" type="checkbox" name="compare" value="Bike"></li>
                    <li class="list-group-item">Porta ac consectetur ac<input style="float: right;" type="checkbox" name="compare" value="Bike"></li>
                    <li class="list-group-item">Vestibulum at eros<input style="float: right;" type="checkbox" name="compare" value="Bike"></li>*@
                </ul>
            </div>
        </div>
    </div>

</div>