@model SeniorProjectPreReq.Models.mainPageViewModel
@using SeniorProjectPreReq.Models
@{
    ViewBag.Title = "JPEF School Portal";
}
<script>
    // john 
    //you want to grab all the elements by id and update them 
    //<h1 id="schoolName"></h1>
    //would be $("#schoolName").innerHTML = schoolData.schoolName;

    function getApiData(id) {
        var schoolData
        var bullshit = $.ajax({
            url: "getschooldatabyid/" + id,
            success: function (data) {
                schoolData = data
                console.log('success', data)
                $("#schoolName").text(schoolData.schoolName);
                $("#schoolAddress").text(schoolData.Address);
            }
        })
        

    }
</script>
<div class="jumbotron">
    <div class="row">
        <div class="col-md-4">
            <a class="btn btn-primary" href="">Elementary Schools</a>
        </div>
        <div class="col-md-4">
            <a class="btn btn-primary" href="">Middle Schools</a>
        </div>
        <div class="col-md-4">
            <a class="btn btn-primary" href="">High Schools</a>
        </div>
    </div>
</div>

<div class="row" style="height: 500px;">
    <div class="col-md-4">
        <div class="panel panel-default">
            <div class="panel-body" style="height: 400px">
                <h1 id="schoolName">School Data</h1>
                <p>
                    <ul>
                        <li id="schoolAddress"></li>
                        <li id="schoolPhone"></li>
                        <li id="schoolWebsite"></li>
                        <li id="schoolPrincipal"></li>
                    </ul>
                </p>
            </div>
        </div>
    </div>
    <div class="col-md-8">

        <div class="container fluid">
            <div class="input-group">
                <span class="input-group-btn">
                    <button class="btn btn-default" type="button">Go!</button>
                </span>
                <input type="text" class="form-control" placeholder="Search for...">
                
            </div><!-- /input-group -->
            <div style="height: 380px; overflow-y: scroll;">
               @using (Html.BeginForm())
                 {
                        <ul class="list-group">
                          @foreach (var item in Model)
                          {
                            <li onclick="getApiData(@item.ID)" class="list-group-item">@Html.DisplayFor(x => item.SchoolName)<input style="float: right;" type="checkbox" name="compare" value="@item.ID"></li>
                              //onclick(callDataApi(item.ID)
                          }
                        </ul>
                        <input type="submit" value="Compare" class = "btn btn-primary btn-large"/>
                 }
            </div>
        </div>
    </div>

</div>