
    @using PagedList.Mvc;
    @model PagedList.IPagedList<SeniorProjectPreReq.Models.UserRoles.ExpandedUserDTO>

<p>
    @Html.ActionLink("Create New","Create", null, new {  @class = "btn btn-default"})
</p>
